<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'navbar.html' %}
    {% block extraCSS %}
    <link rel="stylesheet" href="{% static 'css/ABMdisciplinas.css' %}">
    {% endblock extraCSS %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alta disciplina</title>
</head>
<body>
  <div class="div-alta-disciplinas">
    <h2>Formulario de Disciplina</h2>
    <form method="post" action="{% if form.instance.id %}{% url 'modificar_disciplina' form.instance.id %}{% else %}{% url 'alta_disciplina' %}{% endif %}">
      <div class="div-formulario-disciplina">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.nombre.id_for_label }}" class="formulario-label">Nombre:</label>
          <div class="formulario-input">{{ form.nombre }}</div>
          {% if form.nombre.errors %}
              <div class="error-message">{{ form.nombre.errors.0 }}</div>
          {% endif %}
        </div>
        
        <div class="form-group">
            <label for="{{ form.monto_afiliado.id_for_label }}" class="formulario-label">Monto Afiliado:</label>
            <div class="formulario-input">{{ form.monto_afiliado }}</div>
            {% if form.monto_afiliado.errors %}
                <div class="error-message">{{ form.monto_afiliado.errors.0 }}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="{{ form.monto_adherente.id_for_label }}" class="formulario-label">Monto Adherente:</label>
            <div class="formulario-input">{{ form.monto_adherente }}</div>
            {% if form.monto_adherente.errors %}
                <div class="error-message">{{ form.monto_adherente.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="botones-form">
          <div class="botones-form">
            <button class="form-enviar boton-form" type="submit" value="Enviar">Guardar</button>
            <button class="form-volver boton-form" type="volver" ><a href="{% url 'lista_disciplinas' %}">cancelar</a></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  </body>
</html>