<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'navbar.html' %}
    {% block extraCSS%}
    <link rel="stylesheet" href="{% static 'css/ABMsocios.css' %}">
    {% endblock extraCSS%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="div-alta-socios">
      <h2>Formulario de Socios</h2>
      {% if disciplinas %}
        <form method="post" action="{% if form.instance.id %}{% url 'modificar_socio' form.instance.id %}{% else %}{% url 'alta_socios' %}{% endif %}">
          <div class="div-formulario">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.nombre.id_for_label }}" class="formulario-label">Nombre:</label>
              <div class="formulario-input">{{ form.nombre }}</div>
            </div>
            <div class="form-group">
              <label for="{{ form.apellido.id_for_label }}" class="formulario-label">Apellido:</label>
              <div class="formulario-input">{{ form.apellido }}</div>
            </div>
            {% for error in form.dni.errors %}
            <span class="error-message">{{ error }}</span>
          {% endfor %}
            <div class="form-group">
              <label for="{{ form.dni.id_for_label }}" class="formulario-label">Dni:</label>
              <div class="formulario-input">{{ form.dni }}</div>
            </div>
            {% for error in form.nroSocio.errors %}
              <span class="error-message">{{ error }}</span>
            {% endfor %}
            <div class="form-group">
              <label for="{{ form.nroSocio.id_for_label }}" class="formulario-label">Nro Socio:</label>
              <div class="formulario-input">{{ form.nroSocio }}</div>
            </div>
            <div class="form-group">
              <label for="{{ form.tipo_socio.id_for_label }}" class="formulario-label">Tipo Socio:</label>
              <div class="formulario-input">{{ form.tipo_socio }}</div>
            </div>

            <div class="form-group">
              <div class="check-disciplinas">
                <label for="{{ form.disciplinas.id_for_label }}">Disciplinas:</label>
                {% for checkbox in form.disciplinas %}
                  <div class="columna-de-dos">
                    <label>{{ checkbox.tag }} {{ checkbox.choice_label }}</label>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="botones-form">
              <button class="boton-form-enviar boton-form" type="submit" value="Enviar">Enviar</button>
              <button class="boton-form-volver boton-form"><a href="{% url 'lista_socios' %}">Volver</a></button>
            </div>
        </form>
      {% else %}
        <h1>debe dar alta alguna disciplina para agregar socios</h1>
        <div class="contenedor-boton">
          <a href="{% url 'alta_disciplina' %}" > 
            <button class="boton-alta-disciplina">
              Agregar Disciplina
            </button>
          </a>
        </div>
      {% endif %}
    </div>
  </body>
  </html>