<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'navbar.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturacion</title>
 
</head>
<body>
  
    <h1>Facturacion de Socio {{socio.apellido}} , {{socio.nombre}}</h1>
    
    <h2>Inscripciones sin pagar periodo : {{mes}}</h2>

    <table class="tabla-lista-socios">
        <thead>
            <tr>
                <th>Dni</th>
                <th>nroSocio</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo Socio</th>
                <th>Disciplinas</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for disciplinas in disciplinas_sin_pagar %}
                {% if not socioDis.pagado %}
                    <tr>
                        <td>{{socio.dni}}</td>
                        <td>{{socio.nroSocio}}</td>
                        <td>{{socio.nombre}}</td>
                        <td>{{socio.apellido}}</td>
                        <td>
                            {% if socio.tipo_socio == 0 %}
                                {{ 'afiliado' }}
                            {% else %}
                                {{ 'adherente' }}
                            {% endif %}
                        </td>
                        <td>
                            <p>{{disciplinas.disciplina.nombre}}</p>   
                        </td>
                        <td>
                            <a href="{% url 'pagar' socio.pk disciplinas.disciplina.id %}">
                                <button class="boton-pagar-listado"> <span class="text">Pagar</span><span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                                        </svg></span>
                                </button>
                            </a>
                        </td>
                    {% endif %}
            {% endfor %}
           
        </tbody>
    </table>

    <h2>Inscripciones pagadas periodo : {{mes}}</h2>
    {% if disciplinas_pagadas %}

        <table class="tabla-lista-socios">
            <thead>
                <tr>
                    <th>Dni</th>
                    <th>nroSocio</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Tipo Socio</th>
                    <th>Disciplinas</th>
                </tr>
            </thead>
            <tbody>
                {% for disciplinas in disciplinas_pagadas %}
                    {% if not socioDis.pagado %}
                        <tr>
                            <td>{{socio.dni}}</td>
                            <td>{{socio.nroSocio}}</td>
                            <td>{{socio.nombre}}</td>
                            <td>{{socio.apellido}}</td>
                            <td>
                                {% if socio.tipo_socio == 0 %}
                                    {{ 'afiliado' }}
                                {% else %}
                                    {{ 'adherente' }}
                                {% endif %}
                            </td>
                            <td>
                                <p>{{disciplinas.disciplina.nombre}}</p>   
                            </td>
                        {% endif %}
                {% endfor %}
            
            </tbody>
        </table>
    {% else %}
        <h1>No se ah efectuado ningun pago hasta la fecha</h1>
    {% endif%}
    <h2>Inscripciones vencidas</h2>
    {% if facturas_vencidas %}
        <input type="text" id="myInput" onkeyup="filterTable()" placeholder="Buscar en la tabla...">
        <table class="tabla-lista-socios">
            <thead>
                <tr>
                    <th>socio</th>
                    <th>disciplina</th>
                    <th>periodo de fecha</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                    {% for factura in facturas_vencidas %}
                    
                        <tr>
                            <td>{{factura.socio.nombre}}</td>
                            <td>{{factura.disciplina.nombre}}</td>
                            <td>{{factura.fecha_vencido}}</td>

                            <td>
                                <a href="{% url 'pagar_vencidos' factura.id %}">
                                    <button class="boton-pagar-listado"> <span class="text">Pagar</span><span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                                            </svg></span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
            
            </tbody>
        </table>
    {% else %}
        <h1>No posee ningun pago vencido hasta la fecha</h1>
    {% endif%}
    <script>
        function filterTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.querySelector(".tabla-lista-socios");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // Cambia el índice para ajustar según las columnas de tu tabla
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    
        
</body>
</html>