<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'navbar.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socios</title>
 
</head>
<body>
    <div class="contenedor">
        <div class="titulo">
            <h1>Listado de Socios</h1>
        </div>
        <div class="botones-cabecera">
            <div>
                <input type="text" id="dniInput" onkeyup="filterTable('dniInput', 'apellidoInput')" placeholder="Buscar por DNI...">
                <input type="text" id="apellidoInput" onkeyup="filterTable('dniInput', 'apellidoInput')" placeholder="Buscar por Apellido...">   
            </div>
                <a href="{% url 'alta_socios' %}">
                    <button class="boton-agregar-listado botones-cabecera__agregar"> <span class="text">Agregar</span><span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 
                    1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 
                    10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    </svg></span>
                    </button>
                </a>
        </div>
        {% if socios %}
            <table class="tabla-lista-socios">
                <thead>
                    <tr>
                        <th>Dni</th>
                        <th>nroSocio</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Tipo Socio</th>
                        <th>Disciplinas</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for socio in socios %}
                    <tr>
                        <td>{{socio.dni}}</td>
                        <td>{{socio.nroSocio}}</td>
                        <td>{{socio.nombre}}</td>
                        <td>{{socio.apellido}}</td>
                        <td>
                            {% if socio.tipo_socio == 0 %}
                                {{ 'afiliado' }}
                            {% else %}
                                {{ 'adherente' }}
                            {% endif %}
                        </td>
                        <td> {% for socioDis in socio.disciplinas.all %}  
                            <p>{{socioDis.nombre}}</p>     
                            {% endfor %}
                        </td>
                        <td>
                            <div class="botones-listado">
                                <a href="{% url 'modificar_socio' socio.pk %}">
                                    <button class="boton-modificar-listado"> <span class="text">Modificar</span><span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                            </svg></span>
                                    </button>
                                </a>
                            
                                <a href="{% url 'facturacion' socio.pk %}">
                                    <button class="boton-pagar-listado"> <span class="text">Pagar</span><span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                                            </svg></span>
                                    </button>
                                </a>
                            
                                <a href="{% url 'listado_facturas_socio' socio.pk %}">
                                    <button class="boton-lista-listado"> <span class="text">Listado</span><span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-nested" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"/>
                                            </svg></span>
                                    </button>
                                </a>
                            
                                <a href="{% url 'eliminar_socio' socio.pk %}" onclick="return confirmarEliminar()">
                                    <button class="boton-eliminar-listado">
                                        <span class="text">Eliminar</span>
                                        <span class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                                            </svg>
                                        </span>
                                    </button>
                                </a>
                                
                                <script>
                                    function confirmarEliminar() {
                                        return confirm("¿Estás seguro de que quieres eliminar este socio?, se perderan las disciplinas asociadas y las facturas realizadas por el socio");
                                    }
                                </script>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                
                </tbody>
            </table>
        {% else %}
            <h1>No se han agregado socios todavia</h1>
        {% endif %}
    </div>
   

    <script>
        function filterTable(dniInputId, apellidoInputId) {
            var dniInput, apellidoInput, dniFilter, apellidoFilter, table, tr, tdDNI, tdApellido, i, txtValueDNI, txtValueApellido;
            
            dniInput = document.getElementById(dniInputId);
            apellidoInput = document.getElementById(apellidoInputId);
            
            dniFilter = dniInput.value.toUpperCase();
            apellidoFilter = apellidoInput.value.toUpperCase();
            
            table = document.querySelector(".tabla-lista-socios");
            tr = table.getElementsByTagName("tr");
        
            for (i = 0; i < tr.length; i++) {
                tdDNI = tr[i].getElementsByTagName("td")[0]; // Índice para la columna de DNI
                tdApellido = tr[i].getElementsByTagName("td")[3]; // Índice para la columna de Apellido
        
                if (tdDNI && tdApellido) {
                    txtValueDNI = tdDNI.textContent || tdDNI.innerText;
                    txtValueApellido = tdApellido.textContent || tdApellido.innerText;
        
                    if (txtValueDNI.toUpperCase().indexOf(dniFilter) > -1 && txtValueApellido.toUpperCase().indexOf(apellidoFilter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        




    </script>

</body>
</html>