<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'navbar.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado facturas socio</title>
 
</head>
<body>
    <h1>Listado de facturas de {{socio.nombre}}  , {{socio.apellido}}</h1>

    <table class="tabla-lista-socios">
        <thead>
            <tr>
                <th>Fecha pago</th>
                <th>Monto total</th>
                <th>Disciplina pagada</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
            <tr>
                <td>{{factura.fecha_pago}}</td>
                <td>{{factura.monto_total}}</td>
                <td>{{factura.disciplina.nombre}}</td>
            {% endfor %}
           
        </tbody>
    </table>
</body>
</html>