<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'navbar.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado_facturas</title>

    <style>
        label{
           color: rgb(9, 100, 143);
           font-size: 30px;
        }
        input{
            width: 150px;
            height: 50px;
            font-size:20px;
            border-color: rgb(9, 194, 226);
        }

        h2{
            text-align: center;
            color:  rgb(9, 100, 143);
        }
    </style>
 
</head>
<body>
    <h1>Listado de facturas totales</h1>
    <h2>Filtrar facturas por fecha</h2>
    <div class="filtro">
        <form method="POST" action="{% url 'listado_facturas' %}">
            {% csrf_token %}
            <label for="fecha">Fecha inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio">
            <label for="fecha">Fecha fin:</label>
            <input type="date" id="fecha_fin" name="fecha_fin">
            <button class="filtro-boton" type="submit" > <span class="text">Filtrar</span><span class="icon">
                </span>
            </button>
        </form>
    </div>
        {% if facturas %}
        <table class="tabla-lista-socios">
            <thead>
                <tr>
                    <th>Dni</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha pago</th>
                    <th>Monto total</th>
                    <th>Disciplina pagada</th>
                </tr>
            </thead>
            <tbody>
                {% for factura in facturas %}
                <tr>
                    <td>{{factura.socio.dni}}</td>
                    <td>{{factura.socio.nombre}}</td>
                    <td>{{factura.socio.apellido}}</td>
                    <td>{{factura.fecha_pago}}</td>
                    <td>{{factura.monto_total}}</td>
                    <td>{{factura.disciplina.nombre}}</td>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No se ha realizado ningun pago de factura hasta la fecha</h1>
    {% endif%}
   
</body>
</html>