<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'navbar.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disciplinas</title>
 
</head>
<body>
    <h1>Listado de Disciplinas</h1>
    <div class="botones-cabecera">
        <a href="{% url 'alta_disciplina' %}">
            <button class="boton-agregar-listado botones-cabecera__agregar"> <span class="text">Agregar</span><span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 
            1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 
            10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg></span>
            </button>
        </a>
    </div>

    <table class="tabla-lista-disciplinas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio Afiliado</th>
                <th>Precio Adherente</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for disciplina in disciplinas %}
            <tr>
                <td>{{disciplina.nombre}}</td>
                <td>{{disciplina.monto_afiliado}}</td>
                <td>{{disciplina.monto_adherente}}</td>
                <td>
                    <div class="botones-listado">
                        <a href="{% url 'modificar_disciplina' disciplina.id %}">
                            <button class="boton-modificar-listado"> <span class="text">Modificar</span><span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg></span>
                            </button>
                        </a>
                        <a href="{% url 'eliminar_disciplina' disciplina.id %}">
                            <button class="boton-eliminar-listado"> <span class="text">Eliminar</span><span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                width="24" height="24" viewBox="0 0 24 24">
                                <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>  
                            </svg></span>
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
    </table>

</body>
</html>