

.div-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    font-size: 50px;
}

label{
    font-size: 25px;
}

  .form-group {
    margin-bottom: 15px;
  }

  .formulario-label{
    display: inline-block;
    width: 150px; /* Ajusta según sea necesario */
    margin-bottom: 5px;
  }

  .formulario-input{
    display: inline-block;
    width: 200px; /* Ajusta según sea necesario */
  }

.tipo-socio{
    font-size: 20px; /* Tamaño de fuente */
    padding: 10px;
}

.nro-socio{
    font-size: 20px; /* Tamaño de fuente */
    padding: 10px;
}
.input-text{
    font-size: 20px; /* Tamaño de fuente */
    padding: 10px;
}
.botones-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
 
}
.boton-form{
    border-radius: 25%;
    margin-top: 20px;
    margin-right: 20px;
    width: 100px;
    height: 50px;
    text-decoration: none;
}

.boton-form-enviar{
    background-color: green
}

.boton-form-volver{
    background-color: red;
}

a{
    color: black;
}

.form-enviar {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: rgb(27, 165, 14);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  }

.form-volver{
  width: 150px;
  height: 50px;
  cursor: pointer;
  background: rgb(187, 52, 19);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  }

  .boton-form[type="submit"] {
    /* Agrega tus estilos aquí */
    justify-content: center;
    color: #ffffff; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    /* Otros estilos que desees aplicar */
  }
  
  /* Estilo para el texto del botón "cancelar" */
  .boton-form a {
    /* Agrega tus estilos aquí */
    font-size: 20px;
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Quita el subrayado del enlace */
    text-align: center; /* Centra el texto dentro del botón */
    /* Otros estilos que desees aplicar */
  }


     /* /////////////////  boton-alta-disciplina en html alta socio///////////*/


.contenedor-boton{
  display: flex;
  justify-content: center;
}

.boton-alta-disciplina{
  height: 70px;
  width: 200px;
  color: #1db6b6;
  font-size: 25px;
  cursor: pointer;

}