:root {
    --boton-eliminar-color: #c41b1b;
    --boton-agregar-color: #28c01a;
    --boton-pagar-color: #1a67c0;
    --boton-lista-color: #b5c01a;
    --boton-modificar-color: #c0491a;

    --color-texto:#0e0c0b;
  }

  .botones-cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }


  .botones-cabecera__agregar{
    margin-right: 350px;
  }

  .botones-listado{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  h1{
    text-align: center;
    font-size: 50px;
}

/* //////////////////////  botones de tabla /////////////////////////////////// */

.boton-eliminar-listado {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: var(--boton-eliminar-color);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 }
 
 .boton-eliminar-listado, button span {
  transition: 200ms;
 }
 
 .boton-eliminar-listado .text {
  transform: translateX(35px);
  color: var(--color-texto);
  font-weight: bold;
 }
 
 .boton-eliminar-listado .icon {
  position: absolute;
  border-left: 1px solid  var(--boton-eliminar-color);
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .boton-eliminar-listado svg {
  width: 15px;
  fill: #eee;
 }
 
 .boton-eliminar-listado:hover {
  background:var(--boton-eliminar-color);
 }
 
 .boton-eliminar-listado:hover .text {
  color: transparent;
 }
 
 .boton-eliminar-listado:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 .boton-eliminar-listado:focus {
  outline: none;
 }
 
 .boton-eliminar-listado:active .icon svg {
  transform: scale(0.8);
 }

 /* ///////////////// boton agregar ///////////////////// */

.boton-agregar-listado{
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: var( --boton-agregar-color);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
   }
   
  .boton-agregar-listado, button span {
    transition: 200ms;
   }
   
.boton-agregar-listado .text {
    transform: translateX(35px);
    color: var(--color-texto);
    font-weight: bold;
   }
   
.boton-agregar-listado .icon {
    position: absolute;
    border-left: 1px solid  var( --boton-agregar-color);
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
.boton-agregar-listado svg {
    width: 15px;
    fill: #eee;
   }
   
.boton-agregar-listado:hover {
    background:var( --boton-agregar-color);
   }
   
.boton-agregar-listado:hover .text {
    color: transparent;
   }
   
.boton-agregar-listado:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
.boton-agregar-listado:focus {
    outline: none;
   }
   
.boton-agregar-listado:active .icon svg {
    transform: scale(0.8);
   }


/* ///////////// boto pagar ////////////// */

.boton-pagar-listado{
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: var( --boton-pagar-color);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
   }
   
   .boton-pagar-listado, button span {
    transition: 200ms;
   }
   
   .boton-pagar-listado .text {
    transform: translateX(35px);
    color: var(--color-texto);
    font-weight: bold;
   }
   
   .boton-pagar-listado .icon {
    position: absolute;
    border-left: 1px solid  var( --boton-pagar-color);
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .boton-pagar-listado svg {
    width: 15px;
    fill: #eee;
   }
   
   .boton-pagar-listado:hover {
    background:var( --boton-pagar-color);
   }
   
   .boton-pagar-listado:hover .text {
    color: transparent;
   }
   
   .boton-pagar-listado:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .boton-pagar-listado:focus {
    outline: none;
   }
   
   .boton-pagar-listado:active .icon svg {
    transform: scale(0.8);
   }



/* ///////////// boton listado /////////////// */

.boton-lista-listado{
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: var( --boton-lista-color);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
   }
   
   .boton-lista-listado, button span {
    transition: 200ms;
   }
   
   .boton-lista-listado .text {
    transform: translateX(35px);
    color: var(--color-texto);
    font-weight: bold;
   }
   
   .boton-lista-listado .icon {
    position: absolute;
    border-left: 1px solid  var( --boton-lista-color);
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .boton-lista-listado svg {
    width: 15px;
    fill: #eee;
   }
   
   .boton-lista-listado:hover {
    background:var( --boton-lista-color);
   }
   
   .boton-lista-listado:hover .text {
    color: transparent;
   }
   
   .boton-lista-listado:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .boton-lista-listado:focus {
    outline: none;
   }
   
   .boton-lista-listado:active .icon svg {
    transform: scale(0.8);
   }

   /* ////////// boton modificar ////////////// */

  
   .boton-modificar-listado{
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: var( --boton-modificar-color);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
   }
   
   .boton-modificar-listado, button span {
    transition: 200ms;
   }
   
   .boton-modificar-listado .text {
    transform: translateX(35px);
    color: var(--color-texto);
    font-weight: bold;
   }
   
   .boton-modificar-listado .icon {
    position: absolute;
    border-left: 1px solid  var( --boton-modificar-color);
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .boton-modificar-listado svg {
    width: 15px;
    fill: #eee;
   }
   
   .boton-modificar-listado:hover {
    background:var( --boton-modificar-color);
   }
   
   .boton-modificar-listado:hover .text {
    color: transparent;
   }
   
   .boton-modificar-listado:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .boton-modificar-listado:focus {
    outline: none;
   }
   
   .boton-modificar-listado:active .icon svg {
    transform: scale(0.8);
   }

   /* ///////////// filtro fechas facturas///////////// */

   .filtro{
    display: flex;
    flex-direction: row;
    justify-content: center;
   }

   .filtro-boton{
    margin-left: 10px;
   }

   .filtro-boton{
    width: 150px;
    height: 50px;
    cursor: pointer;
    align-items: center;
    background:#1db6b6;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
   }
   

